#jumbodropdown ul{
background: #FFF;
}

body{
    background: #dee7e7;
    padding-top: 70px;
}

.container {
    padding-bottom: 20px;
}

.navbar-inverse .navbar-nav .active a{
    border-bottom: 5px solid #e2f507;
}

.dropdown-active {
  background-color: #000000;
  border-bottom: 5px solid #e2f507;
}

.dropdown-menu {
  border-bottom: 5px solid #222222;
  background: #222222;
}

.dropdown-menu>li>a {
  color: #FFFFFF;
}

.modal-backdrop {
  z-index: 1000;
}

.jumbotron {
    /*border-bottom-style: double;
    border-bottom-color: #666;*/
    background-color:#1152b5;
    -webkit-box-shadow: 0px 1px 8px 1px rgba(0,0,0,0.73);
    -moz-box-shadow: 0px 1px 8px 1px rgba(0,0,0,0.73);
    box-shadow: 0px 1px 8px 1px rgba(0,0,0,0.73);
}


.jumbotron h1{
    color: #ffffff;
    font-weight: bold;
}

.jumbotron p {
    color: #68b7c2;
}

.jumbotron label {
    color: #ffffff;
    font-weight: lighter;
    font-size: 1.3em;
    margin-right: 10px;
}

.jumbotron .btn {
    font-weight: bold;
}

li input {
    margin:10px 10px 5px 0;
}

li{
    list-style-type:none;
}

.nav-tabs.nav-justified {
    font-size: 1.5em;
}

.nav-tabs.nav-justified > .active > a, .nav-tabs.nav-justified > .active > a:hover, .nav-tabs.nav-justified > .active > a:active, .nav-tabs.nav-justified > .active > a:enabled {
    background-color: #DEDEDE !important;
    border-bottom-color: #ffffff;
    color: #000000;
}

.input-group {
  padding: 10px 0 10px 0;
}

.padding-div {
    padding: 5px;
}

.main-content {
    background: #ffffff;
    border-radius: 5px;
    padding: 20px;
    -webkit-box-shadow: 0px 1px 8px 1px rgba(0,0,0,0.73);
    -moz-box-shadow: 0px 1px 8px 1px rgba(0,0,0,0.73);
    box-shadow: 0px 1px 8px 1px rgba(0,0,0,0.73);
}

.tab-content {
    background: #FFFFFF;
    padding: 20px;
}

th {
    text-align: right;
}

td {
    text-align: right;
}

tfoot {
    color: #c20f0f;
    font-weight: bolder;
}

@media (min-width: 1000px) {
    .input-group {
        width: 45%;
    }
}

.btn {
    -webkit-box-shadow: 0px 1px 8px 1px rgba(0,0,0,0.73);
    -moz-box-shadow: 0px 1px 8px 1px rgba(0,0,0,0.73);
    box-shadow: 0px 1px 8px 1px rgba(0,0,0,0.73);
}

@media (max-width: 500px) {
    form .btn {
        -webkit-box-shadow: 0px 1px 8px 1px rgba(0,0,0,0.73);
        -moz-box-shadow: 0px 1px 8px 1px rgba(0,0,0,0.73);
        box-shadow: 0px 1px 8px 1px rgba(0,0,0,0.73);
        margin-right: 0px;
        display: inline;
        width: 90%;
    }
}
.glyphicon-pencil {
    text-decoration:underline;
}

#prun_sec{
    margin-top:10px;
}

.card_style{
    background:#FFFFFF;
    border-radius:2px;
    -webkit-box-shadow: 1px 1px 5px 1px rgba(145,145,145,1);
    -moz-box-shadow: 1px 1px 5px 1px rgba(145,145,145,1);
    box-shadow: 1px 1px 5px 1px rgba(145,145,145,1);
}


.bootstrap-datetimepicker-widget.dropdown-menu {
  background: #F3F3F3;
  border-bottom: none;
}

/* begin: jQuery UI Datepicker emphasis on selected dates */
.ui-datepicker .ui-datepicker-calendar .ui-state-highlight a {
	background: #656565 none; /* a color that fits the widget theme */
	color: white; /* a color that is readeable with the color above */
}
/* end: jQuery UI Datepicker emphasis on selected dates */
/* begin: jQuery UI Datepicker moving pixels fix */
	table.ui-datepicker-calendar {border-collapse: separate;}
	.ui-datepicker-calendar td {border: 1px solid transparent;}
/* end: jQuery UI Datepicker moving pixels fix */
