body{
    background: #dee7e7;
}

.container {
    padding-bottom: 20px;
}

.navbar-default {
    background: #4c4d4c;
    border: none;
}

.navbar {
    border-radius: 0px;
    -webkit-box-shadow: 0px 1px 8px 1px rgba(0,0,0,0.73);
    -moz-box-shadow: 0px 1px 8px 1px rgba(0,0,0,0.73);
    box-shadow: 0px 1px 8px 1px rgba(0,0,0,0.73);

}

.navbar-default .navbar-nav a:hover{
    /*margin: 10px;
    border-radius: 50px;
    padding: 5px;*/
    color: #ffffff !important;
    background-color: #7a7a7a;
    border-bottom: 5px solid #e2f507;
}

.navbar-default .navbar-nav .active a{
    /*margin: 10px;
    border-radius: 50px;
    padding: 5px;*/
    color: #ffffff;
    background-color: #7a7a7a;
    border-bottom: 5px solid #e2f507;
}

.navbar-default .navbar-nav li a {
    color: #ffffff;
}


.dropdown-menu {
    background: #4c4d4c;
}

.jumbotron{
    /*border-bottom-style: double;
    border-bottom-color: #666;*/
    background-color:#1152b5;
    -webkit-box-shadow: 0px 1px 8px 1px rgba(0,0,0,0.73);
    -moz-box-shadow: 0px 1px 8px 1px rgba(0,0,0,0.73);
    box-shadow: 0px 1px 8px 1px rgba(0,0,0,0.73);
}

.jumbotron h1{
    color: #ffffff;
    font-weight: bold;
}

.jumbotron p {
    color: #68b7c2;
}

.jumbotron label {
    color: #ffffff;
    font-weight: lighter;
    font-size: 1.3em;
    margin-right: 10px;
}

.jumbotron .btn {
    margin-top: 10px;
    font-weight: bold;
}

li input {
    margin:10px 10px 5px 0;
}

li{
    list-style-type:none;
}

.nav-tabs.nav-justified {
    font-size: 1.5em;
}

.nav-tabs.nav-justified > .active > a, .nav-tabs.nav-justified > .active > a:hover, .nav-tabs.nav-justified > .active > a:active, .nav-tabs.nav-justified > .active > a:enabled {
    background-color: #bbcdd7 !important;
    border-bottom-color: #bbcdd7;
    color: #000000;
}

.padding-div {
    padding: 5px;
}

.main-content {
    background: #ffffff;
    border-radius: 5px;
    padding: 20px;
    -webkit-box-shadow: 0px 1px 8px 1px rgba(0,0,0,0.73);
    -moz-box-shadow: 0px 1px 8px 1px rgba(0,0,0,0.73);
    box-shadow: 0px 1px 8px 1px rgba(0,0,0,0.73);
}

.tab-content {
    background: #bbcdd7;
    padding: 20px;
}

.input-group {
    width: 90%;
    margin-bottom: 10px;
}

th {
    text-align: right;
}

td {
    text-align: right;
}

tfoot {
    color: #c20f0f;
    font-weight: bolder;
}

@media (min-width: 1000px) {
    .input-group {
        width: 45%;
    }
}

.btn {
    -webkit-box-shadow: 0px 1px 8px 1px rgba(0,0,0,0.73);
    -moz-box-shadow: 0px 1px 8px 1px rgba(0,0,0,0.73);
    box-shadow: 0px 1px 8px 1px rgba(0,0,0,0.73);
}

@media (max-width: 500px) {
    form .btn {
        -webkit-box-shadow: 0px 1px 8px 1px rgba(0,0,0,0.73);
        -moz-box-shadow: 0px 1px 8px 1px rgba(0,0,0,0.73);
        box-shadow: 0px 1px 8px 1px rgba(0,0,0,0.73);
        margin-right: 0px;
        display: inline;
        width: 90%;
    }
}
.glyphicon-pencil {
    text-decoration:underline;
}
